<h1>My current tasks</h1>

<%= link_to 'New Task', new_task_path %>

<% if @tasks.any? %>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task.title %>
        <%= "(#{task.description})" if task.description.present? %>
        <%= task.complete ? '(Completed)' : '(Pending)' %>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No tasks yet for now.</p>
<% end %>
